<!DOCTYPE html>
<html>
  <head>
    <title>FusionRl</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='user_header'>
      <% if current_user %>
        Loggled in as <%= session[:user_id] %>
        <%= link_to "Log out", session_path(' '), method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_path %>
        <%= link_to "log in", login_path %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
